* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
  /* background-color: cadetblue; */
}


/* Utility class */
h1{
  font-family: 'Roboto', sans-serif;
}
.text-center{
  text-align: center;
}







/* Container-1 */
.landing-page{
  height: 99vh;
  width: 100%;
  /* border: 2px solid red; */
  position: relative;
}
.landing-page::before{
  background: url(.//img/1-min.jpg);
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  background-position-y: -505px;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  /* border: 2px solid springgreen; */
}

.landing-page > * {
  position: relative;
  /* z-index: 10; */
}
.overlay-1{
  opacity: 0.2;
}

/* Navigation bar Desktop */


#navbar {
  display: flex;
  align-items: center;
  margin: 0px auto;
}

/* logo */

#navbar .logo img {
  width: 220px;
  margin: 5px 160px;
}
/* nav bar */

#navbar ul {
  display: flex;
  margin: 4px 100px 4px 280px;
  list-style-type: none;
  align-items: center;
}
#navbar ul li a {
  color: white;
  font-size: 20px;
  padding: 26px 20px;
  letter-spacing: 1.2px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: #13aff0;
  text-decoration: underline;
}


.landing-page-details{
  /* border: black 2px solid; */
  font-family: "Open Sans", sans-serif;
  text-align: center;
  top: 260px;
  color: white;
  /* margin: 260px 200px; */
  padding: 10px;
}
.landing-page-details h1{
  text-shadow: black 2px 2px 13px;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  letter-spacing: 3px;
}
.landing-page-details p{
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 10px;
  text-shadow: black 2px 2px 5px;
  font-family: Arial, Helvetica, sans-serif;

}

/* About section */
 .about{
  height: 586px;
  display: flex;
  color: white;
  /* border: 2px red solid; */
  
}
 .about .box-1,.box-2{
  width: 50%;
  height: 100%;
} 


.about .box-1 img,.box-2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}


.about .box-1,.box-2{
  position: relative;
}


.about .box-1::before{
  background: url(.//img/about-1.jpg);
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  background-size: cover;
  background-position: top center;
}
.overlay-2{
  opacity: 0.2;
}

.about .box-2::before{
  background: url(.//img/Sample-Portrait-1.jpg);
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  background-size: cover;
  background-position: center;
  /* z-index: -2; */
}

.overlay-3{
  opacity: .85;
  /* z-index: -1; */
}
.box-2 > *{ 
 /* this is used to pull out text on top layer*/
  position: relative;
}

.about-details h1{
  margin: 80px;
  font-family: 'Roboto', sans-serif;

  margin-bottom: 0px;
  font-size: 32px;
  line-height: 1.9;
  letter-spacing: 1;
}
.about-details p{
  font-family: 'Roboto', sans-serif;
  margin: 20px 80px;
  line-height: 1.7;
  font-size: 20px;
}

.btn{
  color: white;
  display: block;
  margin: 15px auto;
  width: 600px;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
}
.btn-1{
  background: #ef6c15;
  display: flex;
}
.btn-1:hover{
  background: #ce6000;
}
.btn-2{
  background: #2b71af;
  display: flex;
}

.btn-1 p,.btn-2 p{
  margin: 0;
  padding: 0;
  font-size: 13px;
  display: block;
  margin: auto;
}
.btn-1 img,.btn-2 img{
  width: 20px;
  filter: invert(100%);

  /* align-items: left; */
  /* width: 100%; */
  position: relative;
}
.btn-2:hover{
  background: #2988aa;
}

/* Contact section */

section.contact{
  /* height: 500px; */
  /* width: 100%; */
  color: white;
}

.contact-container{
  position: relative;
}
.contact-container > *{
  position: relative;
}
section.contact .contact-container::before{
  background: url(.//img/desktop-2.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;

}
.contact .overlay{
  opacity: 0.5;
}

.contact-box{
  /* border: 2px red solid; */
  width: 80%;
  height: 330px;
  padding: 10px;
  /* top: 30px; */
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.contact-box .box{
  /* border: red 2px solid; */
  margin-top: 10px;
  width: 33%;
  /* position: relative; */
  /* align-items: center; */
}
.contact-box .box img{
  display: block;
  margin: 0 auto;
  width: 80px;
  filter: invert(100%);
  }
  .contact-box a{
    text-decoration: none;
    color: white;
  }
.contact-box .box h2, .contact-box .box p{
padding-top: 25px;
}
.contact-box-2{
  margin-top: 60px;
  height: 500px;
}
#web-design{
  position: relative;
  color: white;
}
#web-design::before{
  background: url(.//img/dark.jpg);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* margin-top: 111px; */
  background-size: cover;
  background-position-y: -450px;
  background-attachment: fixed;
}

#web-design  > *{
  position: relative;
}
#web-design .container-xyz{
  border: 1px solid black;
  height: 100%;
  width: 100%;
}
#web-design .container{
  width: 70%;
  margin: 0px auto;
  margin-bottom: 0px;
  padding: 50px 0px;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border: 2px solid black;
}

#web-design .container .box{
  /* border: 2px solid rgb(255, 0, 0); */
  width: 45%;
  margin: 20px auto;
  height: 100vh;
  flex-direction: row;
}
.overlay-5{
  opacity: 0.4;
}
.contact-box-2 p{
  
  padding: 0 20px;  
}

/* Contact form */


.contact-form{
    color: white;
    width: 100%;
    position: relative; 
  } 
   .contact-form::before{
    background-image: url(.//img/desktop-2.jpg);
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background-size: cover;
    background-position: top center; 
    background-attachment: fixed; 
  }
  
  .contact-form  > * {
    position: relative;
    z-index: 0;
  }
  
  .overlay-4{
    opacity: 0.5;
    z-index: -1;
    /* position: absolute; */
    
  }
  
  .contact-form .container{
    display: flex;
    /* padding: 20px; */
  }
  
  .contact-form .container .box-1 {
       color: white;
       border: #2988aa 1px solid;
       max-width: 560px;
       width: 100%;
       height: 600px;
       justify-content: center;
       padding: 30px;
       margin: 20px auto;
       border-radius: 10px;
  }
  .contact-form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  .contact-form .box-1 input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
  }
  .contact-form .box-1 p{
    padding: 12px;
    margin-bottom: 2px;
    font-size: 16px;
  }
  .contact-form .btn-3{
    background: #ef6c15;
    width: 100px;
    padding: 12px;
    border-radius: 0px;
    margin: 10px 14px;
  }
  .contact-form .box-1 p.notice{
    opacity: 0.7;
    font-size: 13px;
  }
  .address{
    padding: 30px;
  }
  
  .address p{
  padding: 5px;
  font-size: 15px;
  }
  .address iframe{
    margin-top: 60px;
    width: 70%;
    height: 300px;
  }
  .address img{
    width: 15px;
    filter: invert(100%);
  }


footer{
  background: #000000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer span{
  margin-right: 10px;
  opacity: 0.8;
}
footer img{
  filter: invert(100%);
  width: 20px;
  margin: 1px 4px;
}

@media only screen and (max-width: 410px) {
  /* Navigation bar Mobile*/

  #navbar .logo img {
    width: 130px;
  }
}
/* Utility class */


.heading{
  background-color: #1c1c1c;
  padding: 30px;
  font-size: 32px;
  line-height: 1.6;
}
.overlay{
  
  background-color: #000000;
  width: 100%;
  height: 100%;
  /* opacity: 0.4; */
  position: absolute;
}